{% extends "base.html" %}
{% block content %}
	<div class="container margin-top margin-bottom">
		<div class="row">
			<div class="col-xs-6">
				<form action="" method="POST" role="form" id="card-form">
					{% csrf_token %}
					<legend>Card Form</legend>
					<div class="row">
						<span class="card-errors alert alert-danger" role="alert"></span>
					</div>
					<div class="form-row row">
					<label>
					  <span>Nombre del tarjetahabiente</span>
					  <input type="text" size="20" data-conekta="card[name]"/>
					</label>
					</div>
					<div class="form-row row">
					<label>
					  <span>Número de tarjeta de crédito</span>
					  <input type="text" size="20" data-conekta="card[number]"/>
					</label>
					</div>
					<div class="form-row row">
					<label>
					  <span>CVC</span>
					  <input type="text" size="4" data-conekta="card[cvc]"/>
					</label>
					</div>
					<div class="form-row row">
					<label>
					  <span>Fecha de expiración (MM/AAAA)</span>
					  <input type="text" size="2" data-conekta="card[exp_month]"/>
					</label>
					<span>/</span>
					<input type="text" size="4" data-conekta="card[exp_year]"/>
					</div>
					<button type="submit" class="btn-success pull-right btn">Suscribirse ahora!</button>
				</form>
			</div>
		</div>
	</div>
{% endblock content %}

{% block js %}
	<script type="text/javascript" src="https://conektaapi.s3.amazonaws.com/v0.3.2/js/conekta.js"></script>
	<script type="text/javascript">
	 // Conekta Public Key
	  Conekta.setPublishableKey('key_MPyRrS69JGcrs7sx6b1CTSQ');
	var conektaSuccessResponseHandler;
	conektaSuccessResponseHandler = function(token) {
	  var $form;
	  $form = $("#card-form");

	  
	/* Inserta el token_id en la forma para que se envíe al servidor */

	  $form.append($("<input type=\"hidden\" name=\"conektaTokenId\" />").val(token.id));

	  
	/* and submit */

	  $form.get(0).submit();
	};
	var conektaErrorResponseHandler;
	conektaErrorResponseHandler = function(response) {
	  var $form;
	  $form = $("#card-form");

	  
	/* Muestra los errores en la forma */

	  $form.find(".card-errors").text(response.message);
	  $form.find("button").prop("disabled", false);
	};
	 // ...
	jQuery(function($) {
	  $("#card-form").submit(function(event) {
	    var $form;
	    $form = $(this);

	    
	/* Previene hacer submit más de una vez */

	    $form.find("button").prop("disabled", true);
	    Conekta.token.create($form, conektaSuccessResponseHandler, conektaErrorResponseHandler);

	    
	/* Previene que la información de la forma sea enviada al servidor */
	    return false;
	  });
	});

	</script>
{% endblock js %}