{% extends 'base.html' %}
{% block content %}
	<div id="portada">
  		<img src="/static/images/slider-1.jpg">
	</div>
	<section id="content">
  		<div class="container">
    		<div class="row">
    			<div class="col-xs-1 col-md-1"></div>  
    			<div class="col-xs-10 col-md-10">
					{% if recetas %}
					<div class="col-md-12">
						<p class='pull-right'><a href="#" class='btn btn-primary'>Continuar</a></p>
					</div>
						{% for receta in recetas %}
						<div class="col-md-3">
							<div class="receta_img">
								<img src="/media/{{receta.imagen}}">
							</div>
							<h3>{{receta.nombre}}</h3>
							<p><b>Calorias:</b> {{receta.calorias}}</p>
							<p><b>Preparación:</b></p>
							<p>{{receta.descripcion}}</p>
							<p><a href="#" class="btn btn-warning">Agregar al pedido</a></p>
						</div>				
						{% endfor %}
					{% endif %}
				</div>
				<div class="col-xs-1 col-md-1"></div>
			</div>
		</div>
	</section>
{% endblock content %}