{% extends 'base.html' %}
{% block content %}
	<div id="portada">
  		<img src="/static/images/slider-1.jpg">
	</div>
	<section id="content">
  		<div class="container">
    		<div class="row">
    			<div class="col-xs-1 col-md-1"></div>  
    			<div class="col-xs-10 col-md-10">
					{% if recetas %}
						<div class="col-md-12">
							<div class="alert " style='display:none' id='message'></div>
							{% if request.session.pedido %}
								<p class='pull-right'><a href="/access" class='btn btn-primary'>Continuar</a></p>
								Pedido: {{pedido}}
							{% endif %}
							<p><input type='hidden' name='items_pedido' value='{{ request.session.pedido|length }}'></p>
						</div>
						{% for receta in recetas %}
							<div class="col-md-4">
								<div class="receta">
									{% if receta.id in pedido %}
										<div class="well">
										<p class='pull-right'><a href="#" onclick='remover({{receta.id}});'><span class="glyphicon glyphicon-remove"></span></a></p>
									{% endif %}
									<div class="receta_img">
										<p class='pull-left'><a href="#" onclick='pedir({{receta.id}});'><span class="glyphicon glyphicon-plus"></span></a></p>
										<img src="/media/{{receta.imagen}}" width='230px'>
									</div>
									<h3>{{receta.nombre}}</h3>
									<p><b>Calorias:</b> {{receta.calorias}}</p>
									<p><b>Preparación:</b></p>
									<p>{{receta.descripcion}}</p>
									{% if not receta.id in pedido %}
										<p><a href="#" class="btn btn-warning" onclick='pedir({{receta.id}});'>Agregar al pedido</a></p>
									{% else %}
										<p><a href="#" class="btn btn-danger" onclick='remover({{receta.id}});'><span class="glyphicon glyphicon-remove"></span> Remover del pedido</a></p>
										</div>
									{% endif %}
								</div>
							</div>				
						{% endfor %}
					{% endif %}
				</div>
				<div class="col-xs-1 col-md-1"></div>
			</div>
		</div>
	</section>
{% endblock content %}