{% extends 'base.html' %}
{% block content %}

<section id="comofunciona">
  <div class="container">
    <div class="row">
    <div class="col-xs-1 col-md-1"> 
    </div>  
    <div class="col-xs-10 col-md-10"> 
      <div class="white-content">
      <h1 class="center-align">¡Bienvenido a Pinchef!<br>
        <span>Como tus ayudantes expertos en cocina, te facilitamos la experiencia de ser chef en casa.</span></h1>      
        <div id="image">
          <img src="{{STATIC_URL}}images/pasos.jpg">
        </div>
        <div class="row">
          <div class="col-xs-12 col-md-1"> 
            <h4 class="number">0</h4>
          </div>  
          <div class="col-xs-12 col-md-9"> 
            <h3 class="small-xd">Crea tu cuenta</h3>
            <p>Primero necesitamos tener una manera de estar en contacto contigo. Danos tu dirección de email y tus datos personales para que estés listo para ordenar.</p>
          </div>  
        </div>
        <!--paso -->
        <div class="row">
          <div class="col-xs-12 col-md-1"> 
            <h4 class="number">1</h4>
          </div>  
          <div class="col-xs-12 col-md-9"> 
            <h3 class="small-xd">Elige tus recetas</h3>
            <p>Cada semana publicaremos 6 exquisitas recetas. Simplemente elije la 3 que más te gusten.</p>
          </div>  
        </div>
        <!--paso -->
        <div class="row">
          <div class="col-xs-12 col-md-1"> 
            <h4 class="number">2</h4>
          </div>  
          <div class="col-xs-12 col-md-9"> 
            <h3 class="small-xd">Recibe todo lo necesario para cocinarlas</h3>
            <p>Nosotros enviaremos directamente a tu casa todos los ingredientes que necesitas para cocinar 2 platillos de cada receta.</p>
          </div>  
        </div>
        <!--paso -->
        <div class="row">
          <div class="col-xs-12 col-md-1"> 
            <h4 class="number">3</h4>
          </div>  
          <div class="col-xs-12 col-md-9"> 
            <h3 class="small-xd">Recibe todo lo necesario para cocinarlas</h3>
            <p>Nosotros enviaremos directamente a tu casa todos los ingredientes que necesitas para cocinar 2 platillos de cada receta.</p>
          </div>  
        </div>
        <!--paso -->
      </div>
      <div class="bottom-contenido"></div>
    </div>
  </div>
</section>
<div class="bottom">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-md-3">
        <img src="{{STATIC_URL}}images/img-bottom.jpg">
      </div>
      <div class="col-xs-12 col-md-6">
        <h4>Suscríbete para recibir noticias</h4>
        <input placeholder="ejemplo@email.com" type="text">
        <input class="codigo-postal" placeholder="Código postal" type="text">
        <a class="button small" href="#">Enviar</a>
      </div>  
      <div class="col-xs-12 col-md-3">
        <a class="instagram" href="http://instagram.com/pinchefmx/" target="_blank"></a>
        <a class="pinterest" href="https://www.pinterest.com/PinChefmx/" target="_blank"></a>
        <a class="youtube" href="#"></a>
        <a class="face" href="https://www.facebook.com/profile.php?id=100007651907991" target="_blank"></a>
        <a class="twitter" href="https://twitter.com/pinchefmx" target="_blank"></a>
      </div>  
    </div>
  </div>
</div>
{% endblock content %}