{% extends 'base.html' %}
{% block content %}

<section id="login">
  <div class="container">
    <div class="row">
    <div class="col-xs-1 col-md-1"> 
    </div>  
    <div class="col-xs-10 col-md-10"> 
      <h1 class="center-align">Contacto</h1>
      <form action='' method='post'>
              {% csrf_token %}
              {{form.as_p}}
              <input type='submit' value='Continuar'>
            </form>
      <!--<form class="center-align">
        <input class="form-control" placeholder="Nombre">
        <input type="email" class="form-control" id="exampleInputEmail1" placeholder="E-mail">
        <input class="form-control" placeholder="Estado">
        <input class="form-control" placeholder="Municipio">
        <textarea class="form-control" placeholder="mensaje" rows="3"></textarea>
        <a class="button small" href="#">Enviar</a>
      </form>-->
    </div>
  </div>
</section>
<div class="bottom">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-md-3">
        <img src="{{STATIC_URL}}images/img-bottom.jpg">
      </div>
      <div class="col-xs-12 col-md-6">
        <h4>Suscríbete para recibir noticias</h4>
        <input placeholder="ejemplo@email.com" type="text">
        <input class="codigo-postal" placeholder="Código postal" type="text">
        <a class="button small" href="#">Enviar</a>
      </div>  
      <div class="col-xs-12 col-md-3">
        <a class="instagram" href="http://instagram.com/pinchefmx/" target="_blank"></a>
        <a class="pinterest" href="https://www.pinterest.com/PinChefmx/" target="_blank"></a>
        <a class="youtube" href="#"></a>
        <a class="face" href="https://www.facebook.com/profile.php?id=100007651907991" target="_blank"></a>
        <a class="twitter" href="https://twitter.com/pinchefmx" target="_blank"></a>
      </div>  
    </div>
  </div>
</div>  
{% endblock content %}