
{% extends 'base.html' %}
{% block content %}

<section id="faqs">
  <div class="container">
    <div class="row">
    <div class="col-xs-1 col-md-1"> 
    </div>  
    <div class="col-xs-10 col-md-10"> 
      <div class="white-content">
      <h1>Preguntas frecuentes</h1>
      <div class="row">
        <div class="col-xs-12 col-md-6">
        <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
          <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="headingOne">
              <h4 class="panel-title">
                <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                  <h4>I.  ¿Por qué PinChef?</h4>
                </a>
              </h4>
            </div>
            <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
              <div class="panel-body">
                <p><b>a.  Es práctico y divertido:</b> Te entregamos todo lo que necesitas para cocinar deliciosas e increíbles recetas en tu casa u oficina. Olvídate de tediosas idas al súper y filas interminables. </p>
                <p><b>b.  Es Saludable:</b> Nuestras recetas están diseñadas para que pruebes nuevos y mejores platillos, siempre buscando que cocines con los ingredientes más frescos y saludables de acuerdo con una dieta perfectamente balanceada.. Al completar nuestro cuestionario de preferencias de dieta nos das toda la información necesaria para que obtengas la receta indicada de acuerdo con tus preferencias.</p>
                <p><b>c.  Ingredientes de la mejor calidad:</b> Nuestro equipo de suministro es especialmente picky con el objeto de que nuestros ingredientes provengan de los mejores proveedores locales, los cuales garantizan calidad superior al ser producciones de baja escala. En todo momento buscamos formar alianzas con distribuidores gourmet locales buscando una gran diversificación de ingredientes. </p>
                <p><b>d.  Impulsa tu chef interior:</b> Cada semana encontrarás en nuestras recetas ingredientes variados y exóticos que normalmente no se utilizan en comida cotidiana para que puedas explorar distintos y nuevos sabores en tu paladar.</p>
              </div>
            </div>
          </div>
          <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="headingTwo">
              <h4 class="panel-title">
                <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                  <h4>II. Tipos de planes de suscripción</h4>
                </a>
              </h4>
            </div>
            <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
              <div class="panel-body">
                <p><b>a.  Tipos de Caja:</b> Por el momento sólo ofrecemos la caja básica la cual contiene 3 recetas distintas y 2 porciones por receta. Aunque la caja está diseñada para dos personas, nuestras porciones son bastante generosas.  Siempre estamos trabajando para darte mejores opciones así que permanece en contacto!</p>
                <p><b>b.  ¿Puedo hacer un pedido con más de 2 porciones?:</b> Si te interesa pedir el servicio para una fiesta de más personas puedes mandar un correo a <a href="#">ayuda@pinchef.com</a> y ¡con gusto nos ajustamos a tus necesidades!</p>
                <p><b>c.  ¿Cómo funciona el servicio una vez que estoy registrado en PinChef?:</b> Cada semana nuestro equipo de Chefs subirá 6 recetas disponibles a escoger con las que podrás escoger tu caja y tus preferencias de entrega.</p>
                <p><b>d.  ¿Hasta cuándo puedo escoger las recetas?</b> Tienes hasta el [Jueves] a las 11:59 pm de cada semana para escoger tus recetas.</p>
                <p><b>e.  ¿Qué pasa si se me olvidó seleccionar mis recetas?</b> ! No te preocupes! Te notificaremos un día antes de que se cierre la fecha de corte. Si de plano no tuviste tiempo de escoger tus recetas esa semana, tampoco te preocupes… Pinchef está para hacer que cocinar sea más fácil y divertido, nuestro equipo de cocina se encargará de seleccionar las recetas que más se acomoden a tus gustos tomando en cuenta el cuestionario de preferencias de dieta que completaste al momento de crear tu cuenta. </p>
              </div>
            </div>
          </div>
          <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="headingThree">
              <h4 class="panel-title">
                <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                  <h4>III.  ¿Cómo funciona la entrega de las cajas?</h4>
                </a>
              </h4>
            </div>
            <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
              <div class="panel-body">
                <p><b>a.  Configurando tu entrega:</b> Al momento de crear tu cuenta escogerás el día y rango de horario de entrega que mejor se te acomoden. Entregamos los días [Martes y Miércoles] en 3 distintos rangos de horarios:<br>
                7:00 – 9:00 hrs.<br>
                9:00 – 18:00 hrs.<br>
                18:00 – 20:00 hrs.</p>
                <p>Tendrás que escoger un solo día de entrega y un horario los cuales podrás consultar en tu perfil. Si quieres cambiar en un futuro alguno de éstos, ¡no te preocupes, puedes hacerlo cuando se te de la gana! </p>
                <p><b>b.  ¿Cuáles son las zonas de entregas?:</b> Actualmente entregamos a las zonas de Polanco, corredor Roma-Condesa y Santa Fe. Cuando creas tu cuenta te solicitamos tu código postal para ver si tu domicilio se encuentra dentro de nuestra zona de entrega.</p>
                <p><b>c.  ¿Mi comida va a permanecer fresca?:</b> Claro, nuestras cajas vienen empacadas de tal forma que todos los ingredientes puedan permanecer frescos por un par de horas. Es importante refrigerar todos los ingredientes lo más rápido posible para que no pierdan calidad. </p>
                <p><b>d.  ¿Qué sucede si no pude estar cuando llego mi caja Pinchef a mi casa?</b> Nuestro repartidor tiene siempre la mejor disposición de ayudarte para que recibas tu caja. Cuando abras tu cuenta te pediremos información para los casos en que esto suceda, en general las opciones son dejarte tu caja con tu portero o con algún vecino.</p>
                <p><b>e.  ¿Qué le sucederá a mis ingredientes en lo que llego a mi casa?</b> Nuestras cajas están empacadas con especial cuidado y con bolsas refrigerantes que permitirán que tus ingredientes permanezcan frescos por un par de horas. Sólo es importante que refrigeres todo cuando llegues a casa.</p>
                <p><b>f.  ¿Cuánto cuesta el servicio de entrega?</b> ¡Es completamente gratis!</p>
              </div>
            </div>
          </div>
        </div> 
      </div> 
      <!-- fin col preguntas-->
      <div class="col-xs-12 col-md-6">
        <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
          <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="headingCuatro">
              <h4 class="panel-title">
                <a data-toggle="collapse" data-parent="#accordion" href="#collapseCuatro" aria-expanded="true" aria-controls="collapseCuatro">
                  <h4>IV. Métodos de Pago </h4>
                </a>
              </h4>
            </div>
            <div id="collapseCuatro" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingCuatro">
              <div class="panel-body">
               <p><b>a. ¿Puedo hacer el pago al recibir la caja?:</b> No, todos los pagos se deben hacer a través de nuestra página web. [Si quieres hacer pagos utilizando Ticket Vale de despensas escribe a ayuda@pinchef.com y nos pondremos en contacto contigo].</p>
              <p><b>b.  ¿Cuándo se aplicará el cargo a mi tarjeta?</b>                                                                                   El cargo a tu tarjeta se realizara el día después de la fecha de corte semanal de recetas. Nunca recibirás un cargo si pusiste en pausa tu caja Pinchef  por una semana o luego luego después de suscribirte.</p>
              <p><b>c.  ¿Qué opciones existen para realizar el pago?</b> Actualmente aceptamos tarjetas de crédito Visa y MasterCard, American Express, PayPal y tarjetas de débito. (pago oxxo?)</p>
              <p><b>d.  ¿Hay algún cargo adicional por suscribirte a Pinchef?</b></p>
              <p>No hay ningún cargo por suscripción, envió o de ningún otro tipo.</p>

              </div>
            </div>
          </div>
          <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="headingCinco">
              <h4 class="panel-title">
                <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseCinco" aria-expanded="false" aria-controls="collapseCinco">
                  <h4>V.  Administración de Cuenta</h4>
                </a>
              </h4>
            </div>
            <div id="collapseCinco" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingCinco">
              <div class="panel-body">
                <p><b>a.  ¿Qué pasa cuando me vaya de vacaciones o no pueda hacer el pedido una semana?:</b> Siempre tienes la opción de poner tu cuenta en pausa por si vas a estar fuera de la ciudad unos días o no crees poder tener tiempo para disfrutar de cocinar con Pinchef   enalguna semana específica. Para poner tu cuenta en pausa por favor manda un correo a micuenta@pinchef.com indicando que quieres pausar tu cuenta.</p>
                <p><b>b.  ¿Cómo reactivo mi cuenta si la he cancelado o pausado anteriormente?</b> Si quieres volver a hacer un pedido pero has puesto en pausa o cancelado tu cuenta anteriormente manda un correo a micuenta@pinchef.com para volver a activar tu suscripción a PinChef.</p>
                <p><b>c.  ¿Cómo puedo cancelar mi cuenta?:</b> Antes de cancelar tu cuenta te proponemos que pongas tu cuenta en pausa. Esto no implicaría ningún costo para ti y tendrías la opción de volver a hacer un pedido en un futuro sin necesidad de volver a ingresar todos tus datos. Si quieres cancelar tu cuenta de manera definitiva, manda un correo pidiendo la cancelación a micuenta@pinchef.com.</p>
              </div>
            </div>
          </div>
          <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="headingSeis">
              <h4 class="panel-title">
                <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseSeis" aria-expanded="false" aria-controls="collapseSeis">
                  <h4>VI. Recetas e ingredientes</h4>
                </a>
              </h4>
            </div>
            <div id="collapseSeis" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingSeis">
              <div class="panel-body">
                <p><b>a.  ¿Qué incluye la caja?:</b> Cada caja contiene todos los ingredientes frescos y necesarios para cocinar cada una de las recetas que hayas elegido. Cada ingrediente viene cuidadosamente empacado en la porción exacta que necesitarás para cocinar tu receta.</p> 
                <p><b>b.  ¿Necesito algo adicional para cocinar las recetas que elegí?</b> Prácticamente no,  nos esforzamos por proporcionarte todo lo necesario, lo único que asumimos que tienes en tu cocina es sal, pimienta y aceite de oliva. Adicionalmente, tratamos que nuestros chefs propongan recetas para las que no se necesiten instrumentos de cocina muy sofisticados.</p>
                <p><b>c.  ¿Puedo escoger las recetas que yo quiero?:</b> ¡Claro!, dentro de la sección de Menú de nuestra página podrás escoger las 3 recetas que más te gusten cada semana.</p>
                <p><b>d.  ¿Puedo pedir las 6 porciones de una misma receta?</b> ¡Sí!, al momento de seleccionar las recetas que quieras puedes escoger todas las porciones de una misma receta o bien escoger distintos platillos que te gusten más.</p>
                <p><b>e.  ¿Cuánto tiempo permanece fresca la comida?:</b> Los ingredientes están diseñados para que permanezcan frescos por aproximadamente una semana. Si quieres tener la mejor frescura, te recomendamos que cocines los mariscos primero (en caso de que te gusten y los hayas  pedido).</p>
                <p><b>f.  ¿Qué pasa si soy alérgico a algún ingrediente?</b> Al momento de crear tu cuenta te pedimos completar un cuestionario con tus preferencias de dieta. Dentro de éste encontrarás un apartado donde podrás poner todos los ingredientes a los que eres alérgico para evitar enviarte platillos que no te funcionen. Sin embargo, para optimizar nuestro servicio te recomendamos dejarnos escoger tus platillos para asegurarnos al 100% que no te envíen algo erróneo. Si tú escoges una receta con alguno de estos ingredientes no tenemos forma de cambiar el pedido.</p>
                <p><b>g.  ¿Cómo se el contenido calórico de cada receta?</b> Recuerda que Pinchef está diseñado para ser saludable! dentro de la caja encontrarás las recetas de los platillos donde viene la información nutricional de cada receta que hayas elegido.</p> 
              </div>
            </div>
          </div>
        </div> 
      </div> 
      <!--fin pregunta-->   
    </div>    
  </div>
  <div class="bottom-contenido"></div>
    </div>
  </div>
</section>
<div class="bottom">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-md-3">
        <img src="{{STATIC_URL}}images/img-bottom.jpg">
      </div>
      <div class="col-xs-12 col-md-6">
        <h4>Suscríbete para recibir noticias</h4>
        <input placeholder="ejemplo@email.com" type="text">
        <input class="codigo-postal" placeholder="Código postal" type="text">
        <a class="button small" href="#">Enviar</a>
      </div>  
      <div class="col-xs-12 col-md-3">
        <a class="instagram" href="http://instagram.com/pinchefmx/" target="_blank"></a>
        <a class="pinterest" href="https://www.pinterest.com/PinChefmx/" target="_blank"></a>
        <a class="youtube" href="#"></a>
        <a class="face" href="https://www.facebook.com/profile.php?id=100007651907991" target="_blank"></a>
        <a class="twitter" href="https://twitter.com/pinchefmx" target="_blank"></a>
      </div>  
    </div>
  </div>
</div>  
{% endblock content %}
