{% extends 'base.html' %}
{% block content %}	
	<section id="register">
  		<div class="container">
    		<div class="row">
    			<div class="col-xs-1 col-md-1"></div>  
    			<div class="col-xs-10 col-md-10">
    				{% if form.errors %}
    					<div class="row" id='paso1' style='display:none;'>
    				{% else %}
    					<div class="row" id='paso1'>
    				{% endif %}
						<div class="col-md-7">
							<h4>Para completar tu proceso de compra tienes que crear una cuenta</h4>
							<form id='form-cp'>
								<fieldset>
									<input type='text' id='acess_email' name='correo' class='form-control' placeholder='Correo Electrónico'>
									<input type='text' name='cp' class='form-control' placeholder='Código Postal'>
									<input type='submit' value='Continuar' class='btn btn-default'>									
								</fieldset>
							</form>
						</div>
						<div class="col-md-5" id="log">
							<h4>Ya tienes una cuenta, ir a pantalla de login.</h4>
							<p><a href="/singin" class='btn btn-default'>Ingresar</a></p>
						</div>
    				</div>
    				{% if form.errors %}
    					<div class="row" id='registro'>
    				{% else %}
						<div class="row" id='registro' style='display:none;'>
    				{% endif %}
						<form action='' method='post'>
							{% csrf_token %}
							{{form.as_p}}
							<input type='submit' value='Continuar'>
						</form>
						<!--<div class="col-md-3">
						</div>
						<div class="col-md-4">
							<h4>Restricciones de Dieta</h4>
							<legend>¿Comes Carne de Res?</legend><input type='radio' name='dieta_res' value='1'>Si <input type='radio' name='dieta' value='0'>No <br>
							<legend>¿Comes Carne de Cerdo?</legend><input type='radio' name='dieta_cerdo' value='1'>Si <input type='radio' name='dieta' value='0'>No <br>
							<legend>¿Comes Pollo/Aves?</legend><input type='radio' name='dieta_pollo' value='1'>Si <input type='radio' name='dieta' value='0'>No <br>
							<legend>¿Comes Pescado?</legend><input type='radio' name='dieta_pescado' value='1'>Si <input type='radio' name='dieta' value='0'>No <br>
							<legend>¿Comes Mariscos?</legend><input type='radio' name='dieta_mariscos' value='1'>Si <input type='radio' name='dieta' value='0'>No <br>
							<legend>¿Comes Cordero?</legend><input type='radio' name='dieta_cordero' value='1'>Si <input type='radio' name='dieta' value='0'>No
						</div>
						<div class="col-md-3">
							<legend>Soy</legend><input type='radio' name='soy' value='vegetariano'>Vegetariano(a) <input type='radio' name='soy' value='vegano'>Vegano(a) <input type='radio' name='soy' value='ninguno'>Ninguno de los anteriores <br>
							<label>Dinos cualquier restricción adicional de dieta que tengas:</label>
							<textarea name='restriccion_adiocional' class='form-control' placeholder='Max. 150 caracteres'></textarea>
						</div>-->
					</div>
				</div>
				<div class="col-xs-1 col-md-1"></div>
			</div>
		</div>
	</section>
	<div class="bottom">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-md-3">
        <img src="{{STATIC_URL}}images/img-bottom.jpg">
      </div>
      <div class="col-xs-12 col-md-6">
        <h4>Suscríbete para recibir noticias</h4>
        <input placeholder="ejemplo@email.com" type="text">
        <input class="codigo-postal" placeholder="Código postal" type="text">
        <a class="button small" href="#">Enviar</a>
      </div>  
      <div class="col-xs-12 col-md-3">
        <a class="instagram" href="http://instagram.com/pinchefmx/" target="_blank"></a>
        <a class="pinterest" href="https://www.pinterest.com/PinChefmx/" target="_blank"></a>
        <a class="youtube" href="#"></a>
        <a class="face" href="https://www.facebook.com/profile.php?id=100007651907991" target="_blank"></a>
        <a class="twitter" href="https://twitter.com/pinchefmx" target="_blank"></a>
      </div>  
    </div>
  </div>
</div>  
{% endblock content %}